<ion-content [fullscreen]="true">
  <div class="my-container">
    <h1 class="heading">CLC</h1>
    <p class="ion-padding-bottom">Welcome</p>
    <form>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Email</legend>
          <ion-input
            name="email"
            [(ngModel)]="email"
            type="email"
            placeholder="email@domain.com"></ion-input>
        </fieldset>
      </ion-item>
      <br />
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend>
          <ion-input
            [(ngModel)]="password"
            type="password"
            name="password"
            placeholder="*******">
          </ion-input>
        </fieldset>
      </ion-item>
      <br />
      <ion-card-content>
        <ion-button (click)="login()" expand="block" color="primary"
          >Sign in</ion-button
        >
      </ion-card-content>
      <!-- <p class="forget-text"><a>Forgot Password</a></p> -->
      <p class="signup-text">
        Don't have an account?&nbsp;<a [routerLink]="['/auth/register']"
          >Sign Up</a
        >
      </p>
    </form>
  </div>
  <ion-toast
    [isOpen]="isToastOpen"
    message="{{toastMessage}}"
    [duration]="4000"
    (didDismiss)="setOpen(false)">
  </ion-toast>
</ion-content>
