<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Image Upload</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Submit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if (imageUrl) {
    <div>
      <img [src]="imageUrl" alt="Preview" />
    </div>
  }

  <ion-button (click)="takePicture()">Select Image</ion-button>
</ion-content>
