<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ pageTitel }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item lines="none" class="ion-item">
    <ion-label class="mb" position="stacked">House Description</ion-label>
    <textarea
      [(ngModel)]="house.description"
      class="textarea"
      rows="3"
      maxlength="200"
      placeholder="Please add house description here...">
    </textarea>
  </ion-item>
  <ion-item lines="none" class="ion-item">
    <ion-label class="mb" position="stacked">Address</ion-label>
    <textarea
      [(ngModel)]="house.address"
      rows="2"
      maxlength="200"
      placeholder="Please enter address here...">
    </textarea>
  </ion-item>
  <br />
  <capacitor-google-map #map></capacitor-google-map>
</ion-content>
<ion-toast
  [isOpen]="isToastOpen"
  message="{{ toastMessage }}"
  [duration]="4000"
  (didDismiss)="setOpen(false)">
</ion-toast>
