<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>House Detail</ion-title>
    <ion-buttons (click)="openImageModal()" slot="end">
      <ion-button [strong]="true">Add Image</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>PO{{id}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{houseModel.house.address}}</p>
      <br />
      <p>latitude: {{houseModel.house.latitude}}</p>
      <p>longitude: {{houseModel.house.longitude}}</p>
    </ion-card-content>
    <ion-card-content> {{houseModel.house.description}} </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-item>
      <ion-label>Images</ion-label>
    </ion-item>
    <ion-grid>
      <ion-row class="ion-justify-content-start">
        @for (item of houseModel.images; track $index) {
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-img src="{{baseUrl+item.image_url}}" alt="{{item.title}}">
          </ion-img>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()" size="medium">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
