.my-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  padding: 18px;
  transform: translateY(-50%);
}

.heading {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.ion-item {
  --ion-item-background: none;
  --padding-start: 0px;
  --inner-padding-end: 0px;
}
