<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Houses</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    @for (item of houseModel.houses; track $index) {
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>PO{{item.id}}</ion-card-title>
        </ion-card-header>
        <ion-card-content> {{item.address}} </ion-card-content>
        <ion-card-content> {{item.description}} </ion-card-content>
        <ion-button (click)="deleteHouse(item.id)" fill="clear"
          >Delete</ion-button
        >
        <ion-button (click)="goToDetailPage(item.id??null)" fill="clear"
          >View</ion-button
        >
      </ion-card>
    </ion-item>
    }
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()" size="medium">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-toast
  [isOpen]="isToastOpen"
  message="{{toastMessage}}"
  [duration]="4000"
  (didDismiss)="setOpen(false)">
</ion-toast>
