<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Houses</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>PO15678564</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          234 Church Street,Colloyn,PRETORIA,
          0083,
          SOUTH AFRICA
        </ion-card-content>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>PO15678564</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          234 Church Street,Colloyn,PRETORIA,
          0083,
          SOUTH AFRICA
        </ion-card-content>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>